/// svg fader

.svg-fader{
    cursor:ns-resize;
    stroke:rgba(200,200,200,0.5);
    stroke-width:2;
}

/// svg fader -- odd number

.svg-fader--odd{
    fill: url(#grad-0);
}

/// svg fader -- even number

.svg-fader--even{   
    fill: url(#grad-1);
    opacity:0.1;
}

/// svg fader track

.svg-fader__track{
    fill:black;
    stroke:rgba(0,0,0,0.2);
    stroke-width:20;
}

/// svg fader thumb

.svg-thumb{
    fill:rgba(255,255,255,1);
    stroke:rgba(0,0,0,0.5);
    stroke-width:3;
    transition:y 0s ease, fill 1s ease;
}

/// svg fader text

.svg-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}