footer {
    background-color:#111F34;
    color:white;
    position: relative;
    display:block;
    min-height: 8em;
    padding: 1em;
    width:100%;
    left:0;
    bottom:0;
    margin:0;
    font-family: 'Kanit';

    font-weight: 100;
    font-size:1.5rem;
}