footer {
    background-color:#111F34;
    color:white;
    position: relative;
    display:block;
    min-height: 8em;
    padding: 1em;
    width:100%;
    left:0;
    bottom:0;
    margin:0;
    font-family: 'Kanit';

    font-weight: 100;
    font-size:1.5rem;
}

.partner{

    display:block;
    filter:grayscale(100%) brightness(200%);
    // text-align: center;
    height:3em;
    // width:400px;
    padding:1em;
    transition:filter 0.5s ease-in-out;

    &:hover{
        filter:grayscale(0%) brightness(100%) drop-shadow(0 0 0.75rem #111F34);
    }
    
    & img{
        height:3em;
        
    }
}