
@import "style/palette.scss";
@import "layouts/layout.scss";
@import "style_selection.scss";
@import "layouts/layout_instrument.scss";
@import "instrument/fullscreen.scss";
@import "instrument/audio_message.scss";
@import "embed/embedded.scss";

body {
    background-color: $dark--lighter;
    
    color: $light--lighter;
    font-family: $font-body-condensed;
}

p {
    margin: 1em;
    margin-right: 2em;
    letter-spacing: 0.05rem;
    
}

a {
    color: black;
    display: inline-block;
    text-decoration-color: #ccc;

    &:visited{
        color:black;
    }
}
