
@import "palette.scss";
@import "layout.scss";
@import "style_selection.scss";

body {
    background-color: $dark--lighter;
    color: $light--lighter;
    font-family: 'Barlow', sans-serif;
    
}

p {
    margin:1em;
}

a {
    color: black;
    display: inline-block;
    &:visited{
        color:black;
    }
}

main {
    
    // border-radius: 0 1em 1em 0;
    // border-radius: 1em;

}