@import "style_selection.scss";

p{
    margin:1em;
}

a{
    color: red;
    // text-decoration: none;

    &:visited{
        color:black;
    }
}

main{
    padding: 1em;
    max-width:800px;
    // corners of border are rounded on top right and bottom right only
    border-radius: 0 1em 1em 0;
}