@import "palette.scss";
@import "style_selection.scss";

p {
    margin: 1em;
}

a {
    color: black;

    &:visited {
        color: black;
    }
}

main {
    padding: 1em;
    max-width: 800px;
    border-radius: 0 1em 1em 0;
}
