// note: consider using flex instead of grid for elements of this layout

@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@200';
@import 'https://fonts.googleapis.com/css?family=Barlow';
@import 'https://fonts.googleapis.com/css2?family=Pontano+Sans';
@import 'links.scss';
@import 'header_footer.scss';
@import 'palette.scss';
@import 'qr_codes.scss';
* {
    box-sizing: border-box;
}



p, li {
    font-family: Pontano Sans;
    font-size:12pt;
    letter-spacing: 1.25468751254688pt;
}

h1 {
    color: $light--accent;
    font-family: 'Kanit';
    font-weight:100;
    font-size:3rem;
    margin-left: 0.2em;
}

h2 {
    // margin-left:0.7em;
    width:70em;
    max-width:80vw;
    //          top   right  bottom left
    padding:    0.5em   0.5em   0.5em   0.5em;
    margin:     0.5em   1em     0em     1em;
    // width:calc(100% - 2em);
    background-color:$light--accent;
}



main {

    color: $dark;
    background-color:$light;
    flex-grow:1;
    justify-content: center;
    align-items: center;
    
}

section {
    //          top   right  bottom     left
    margin:     0em    1em     1em     1em;
    padding:    0.5em  0.5em   1.5em   0.5em;
    width:70em;
    max-width:80vw;
    display:block;
    background-color:$light--lighter;
    border-radius: 0.1em;
}






@import 'responsive.scss';