// note: consider using flex instead of grid for elements of this layout

@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@200';
@import 'https://fonts.googleapis.com/css?family=Barlow';
@import 'https://fonts.googleapis.com/css2?family=Pontano+Sans';
@import 'links.scss';
@import 'header_footer.scss';
@import 'palette.scss';
@import 'qr_codes.scss';
* {
    box-sizing: border-box;
}



p, li {
    font-family: Pontano Sans;
    font-size:12pt;
    letter-spacing: 1.25468751254688pt;
}

h1 {
    color: $light--accent;
    font-family: 'Kanit';
    font-weight:100;
    font-size:3rem;
    margin-left: 0.2em;
}



main {

    // background-color: $light;
    color: $dark;
    flex-grow:1;
    background-color:$light;
    justify-content: center;
    
}

section {
    margin: 1em;
    padding: 0.5em 1em;
    max-width:800px;
    display:block;
    background-color:$light--lighter;
    border-radius: 0.5em;
}






@import 'responsive.scss';