script.
    $(function(){
        $('#playB').on('click',function(){
            // this should use an aria role/checked attribute..
            let toggle = this.innerHTML.includes('play');
            console.log('toggle:',toggle)
            this.innerHTML = toggle ? 'stop' : 'play'
            playButton(toggle);       
        })

        $('#download').on('click',function(){
            exportSequence();
            downloadBlob(file, 'loop.mid', 'application/octet-stream');          
        })

        $('#randomize').on('click',function(){
            sequenceRandom();
        })       

        $('#shift-left').on('click',function(){
            sequenceRotate('left');
        }) 

        $('#shift-right').on('click',function(){
            sequenceRotate('right');          
        })

        $('#selectionStyle').on('input',function(){
            setChordNumbers(this.value);
            //- updateLink();
        })

        $('#copyLink').on('input',function(){
            copyLink();
        })

        $('#setChord').on('click',function(){
            selectChord(getCurrentChord(), true)
        })
        
        if(params.has('numberStyle')) {
            document.querySelector('#selectionStyle').value = params.get('numberStyle');
            setChordNumbers(params.get('numberStyle'));
        }

        //- updateLink();
    })