#codes {
    // background-color:$dark--lighter;
    // color: $light--lighter;
    font-family: $font-body-condensed;
    padding-top: 1em;
    padding: 3em;
    left: 0;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;

    /* justify-content: space-between;  */
    /* grid-template-columns: 1fr 1fr 1fr; */
}


$qr--size:20vw;
$qr--size--min: 300px;
$qr--size--max: 340px;

.qr {
    display: block;
    width: $qr--size;
    height: $qr--size;
    min-width: $qr--size--min;
    min-height: $qr--size--min;
    max-width: $qr--size--max;
    max-height: $qr--size--max;
    border-radius: 10px;
    background-color: $light--lighter;
    position: relative;
    left: 0;
    right: 0;
    // margin: 10px;
    margin: auto;
    margin-bottom: 1em;
    background-color: $light--accent;
    border: $dark 2px solid;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    /* add a shadow */
    // removed for now since I would also need to add a shadow to the caption
    // box-shadow: 0 0 10px rgba(0,0,0,0.5);

    &:active {
        transform: translate(0px, 0.4em);
    }

    &:hover {
        background-color: $light--lighter;
    }

    &:hover image {
        background-color: $light--lighter;
    }

    & * {
        cursor: pointer;
    }

    & img,
    .qr__svg {
        width: 95%;
        height: 95%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: translate(0px, -0.4em);

    }

    & img.logo {
        /* width: 86px; */
        /* height: 86px; */
        // width: 45px;
        // height: 45px;
        /* border: 4px solid black; */
        /* border-radius: 10px; */

        width: 20%;
        height: 20%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        padding: 2px;
        border: 7px solid $light--accent;
        background-color: $light--accent;

        transform: translate(0px, -0.4em);
        transition: all 0.2s ease-in-out;

    }


    & img.icon {
        background-color: $light--accent;
        transition: all 1s ease;
        width: 80%;
        height: 80%;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        border-radius: 10px;

        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }



    }

    & img.thumbnail {
        background-color: $light--accent;
        transition: all 1s ease;
        width: 100%;
        height: 100%;


        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
        border-radius: 10px;
        transform: translate(0px, 0px);

        // border: 2px solid $light--accent;
        &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }


    & .text {
        /* background-color:$light; */
        /* color: $dark; */
        text-align: center;
        display: block;
        position: absolute;
        bottom: -5px;
        left: -2px;
        right: 0;
        background-color: $dark;
        color: $light--lighter;
        border-radius: 0 0 10px 10px;
        //- padding-top: 5px;
        //- padding:10px;

        font-family: $font-header-1;
        font-weight: 100;
        font-size: 1.5rem;
        transition: none;
        width: calc($qr--size - 2px);
        min-width: $qr--size--min;
        max-width: $qr--size--max;

    }

}



.thumbnail.selected {
    /* border:7px solid $dark !important; */
    background-color: $light--lighter !important;

}

.logo.selected {
    border: 7px solid $dark !important;
    background-color: $light--lighter !important;

}

.blurred {
    filter: brightness(0.5);
}

// from setup.html

#generate__id__qr {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.id__qr__png {
    width: 100%;
    height: 100%;
    display: inline-block;
}

#addresses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#toolbar.setup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

textarea.generate__id__url {
    margin-left: 0.2em;
    width: 80%;
    height: 100px;
    margin-bottom: 1em;
}