@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@200';
@import 'https://fonts.googleapis.com/css?family=Barlow';
@import 'https://fonts.googleapis.com/css2?family=Pontano+Sans';

// Kanit is an open source substitute for Supria Sans
$font-header-1: 'Kanit', sans-serif;

// missing: font header light

$font-body: 'Pontano Sans', sans-serif;
$font-body-condensed: 'Barlow', sans-serif;