// Theme adapted from NaAC Ensemble album art / website

$dark: #111F34;
$dark--accent--complement: #470D30;
$dark--lighter: #084A70;

$light: #939598;
$light--accent: #ADD4CA;
$light--accent--complement: #D88CB7;
$light--lighter: #F5FAFA;