@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@200';
@import 'https://fonts.googleapis.com/css?family=Barlow';
@import 'https://fonts.googleapis.com/css2?family=Pontano+Sans';
body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer {
  display: block;
  padding: 1em;
  margin: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  background-color: #111F34;
  padding: 0.5em 1em;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
header h1 {
  padding: 0;
  margin: 0.5em 0em 0.5em;
  text-align: justify;
  line-height: 0.8em;
  width: 5em;
  display: block;
}
header #banner__logo {
  width: 500px;
  max-width: 20em;
  min-height: 8em;
  margin: 0;
  padding: 0.5em 1em;
  display: block;
}
header #options {
  display: inline-grid;
  align-content: center;
  margin: 1em;
}
header #options select {
  display: block;
  background-color: #ADD4CA;
  color: black;
  border-radius: 5px;
  box-shadow: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.1em;
}
header.embed {
  display: none;
}

#header_logo {
  width: 400px;
  max-width: 50vw;
  display: grid;
  align-content: center;
}

footer {
  background-color: #111F34;
  color: #F5FAFA;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
}
footer.embed {
  display: none;
}

#partners {
  margin: none;
  padding: none;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

.partner {
  display: block;
  filter: grayscale(100%) brightness(200%);
  transition: filter 0.5s ease-in-out;
}
.partner:hover {
  filter: grayscale(0%) brightness(100%) drop-shadow(0 0 0.75rem #111F34);
}
.partner img {
  height: 3em;
  padding: 0;
  max-width: 80vw;
}

#codes {
  font-family: "Barlow", sans-serif;
  padding-top: 1em;
  padding: 3em;
  left: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  /* justify-content: space-between;  */
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.qr {
  display: block;
  width: 20vw;
  height: 20vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 340px;
  max-height: 340px;
  border-radius: 10px;
  background-color: #F5FAFA;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ADD4CA;
  border: #111F34 2px solid;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* add a shadow */
}
.qr:active {
  transform: translate(0px, 0.4em);
}
.qr:hover {
  background-color: #F5FAFA;
}
.qr:hover image {
  background-color: #F5FAFA;
}
.qr * {
  cursor: pointer;
}
.qr img, .qr .qr__svg {
  width: 95%;
  height: 95%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: translate(0px, -0.4em);
}
.qr img.logo {
  /* width: 86px; */
  /* height: 86px; */
  /* border: 4px solid black; */
  /* border-radius: 10px; */
  width: 20%;
  height: 20%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 2px;
  border: 7px solid #ADD4CA;
  background-color: #ADD4CA;
  transform: translate(0px, -0.4em);
  transition: all 0.2s ease-in-out;
}
.qr img.icon {
  background-color: #ADD4CA;
  transition: all 1s ease;
  width: 80%;
  height: 80%;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  border-radius: 10px;
}
.qr img.icon.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.qr img.thumbnail {
  background-color: #ADD4CA;
  transition: all 1s ease;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  border-radius: 10px;
  transform: translate(0px, 0px);
}
.qr img.thumbnail.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.qr .text {
  /* background-color:$light; */
  /* color: $dark; */
  text-align: center;
  display: block;
  position: absolute;
  bottom: -5px;
  left: -2px;
  right: 0;
  background-color: #111F34;
  color: #F5FAFA;
  border-radius: 0 0 10px 10px;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  transition: none;
  width: calc(20vw - 2px);
  min-width: 300px;
  max-width: 340px;
}

.thumbnail.selected {
  /* border:7px solid $dark !important; */
  background-color: #F5FAFA !important;
}

.logo.selected {
  border: 7px solid #111F34 !important;
  background-color: #F5FAFA !important;
}

.blurred {
  filter: brightness(0.5);
}

* {
  box-sizing: border-box;
}

p, li {
  font-family: Pontano Sans;
  font-size: 12pt;
  letter-spacing: 1.2546875125pt;
}

h1 {
  color: #ADD4CA;
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  margin-left: 0.2em;
}

h2 {
  width: 70rem;
  max-width: 80vw;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 1em 0em 1em;
  background-color: #ADD4CA;
}

main {
  color: #111F34;
  background-color: #939598;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

section {
  margin: 0em 1em 1em 1em;
  padding: 0.5em 0.5em 1.5em 0.5em;
  width: 70rem;
  max-width: 80vw;
  display: block;
  background-color: #F5FAFA;
  border-radius: 0.1em;
}

@media only screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  .partner {
    height: 2em;
    margin: 0em 0em 1em 0em;
    padding: 0em 0em 1em 0em;
  }
  .partner img {
    height: 2em;
    max-width: 80vw;
    padding: 0em 0em 0em 0em;
  }
  #options {
    width: 100vw;
    text-align: right;
  }
}
.instrument__embed__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instrument__title.embed {
  display: none;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100vw;
}

.instrument__fullscreen {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 10rem;
  height: 10rem;
  display: none;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}
.instrument__fullscreen:hover {
  cursor: pointer;
  opacity: 1;
}
.instrument__fullscreen.embed {
  display: block;
}

body {
  background-color: #084A70;
  color: #F5FAFA;
  font-family: "Barlow", sans-serif;
}

p {
  margin: 1em;
}

a {
  color: black;
  display: inline-block;
}
a:visited {
  color: black;
}

/*# sourceMappingURL=main.css.map */
