@import 'https://fonts.googleapis.com/css2?family=Kanit:wght@200';
@import 'https://fonts.googleapis.com/css?family=Barlow';
* {
  box-sizing: border-box;
}

body {
  background-color: #084A70;
  color: white;
  font-family: "Barlow", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  color: #ADD4CA;
  font-family: "Kanit";
  font-weight: 100;
  font-size: 3rem;
  margin-left: 0.2em;
}

banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #111F34;
  min-height: calc(150px + 1em);
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
}

#header_logo {
  width: 400px;
  max-width: 50vw;
  display: grid;
  align-content: center;
}

footer {
  background-color: #111F34;
  color: white;
  position: fixed;
  display: block;
  min-height: 8em;
  padding: 1em;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0;
  font-family: "Kanit";
  font-weight: 100;
  font-size: 1.5rem;
}

#options {
  display: inline-grid;
  align-content: center;
  margin: 1em;
}

#options select {
  display: block;
  /* top: 1em; */
  background-color: #ADD4CA;
  color: black;
  border-radius: 5px;
  box-shadow: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0.1em;
}

main {
  background-color: #939598;
  color: #111F34;
}

main#codes {
  background-color: #084A70;
  color: white;
  font-family: "Barlow", sans-serif;
  padding-top: 1em;
  padding: 3em;
  left: 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2em;
  /* justify-content: space-between;  */
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.qr {
  display: block;
  width: 28vw;
  min-width: 300px;
  max-width: 340px;
  max-height: 340px;
  height: 28vw;
  min-height: 300px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #ADD4CA;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* add a shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.qr:active {
  transform: translate(0px, 0.4em);
}
.qr:hover {
  background-color: white;
}
.qr:hover image {
  background-color: white;
}
.qr * {
  cursor: pointer;
}

/* on hover, all other qr elements fade opacity to 0.5 */
.qr img, .qr__svg {
  width: 95%;
  height: 95%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: translate(0px, -0.4em);
}

.qr img.logo {
  /* width: 86px; */
  /* height: 86px; */
  width: 20%;
  height: 20%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  /* border: 4px solid black; */
  border: 7px solid #ADD4CA;
  /* border-radius: 10px; */
  padding: 2px;
  background-color: #ADD4CA;
  transform: translate(0px, -0.4em);
  transition: all 0.2s ease-in-out;
}

.qr img.thumbnail {
  background-color: #ADD4CA;
  transition: all 1s ease;
  width: 80%;
  height: 80%;
  clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
  border-radius: 10px;
}

.qr img.thumbnail.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.qr .text {
  text-align: center;
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 28vw;
  /* background-color:#939598; */
  background-color: #111F34;
  /* color: #111F34; */
  color: white;
  border-radius: 0 0 10px 10px;
  font-family: "Kanit";
  font-weight: 100;
  font-size: 1.5rem;
  transition: none;
  min-width: 300px;
  max-width: 340px;
}

.thumbnail.selected {
  /* border:7px solid #111F34 !important; */
  background-color: white !important;
}

.logo.selected {
  border: 7px solid #111F34 !important;
  background-color: white !important;
}

.blurred {
  filter: brightness(0.5);
}

.partner {
  display: block;
  filter: grayscale(100%);
  height: 3em;
  padding: 1em;
  transition: filter 0.5s ease-in-out;
}
.partner:hover {
  filter: grayscale(0%);
}
.partner img {
  height: 3em;
}

@media only screen and (max-width: 375px) {
  body {
    overflow-x: hidden;
  }
  .partner {
    height: 2em;
    padding: none;
    padding-bottom: 1em;
  }
  .partner img {
    height: 2em;
  }
  #options {
    width: 100vw;
    text-align: right;
  }
}
#partners {
  margin: none;
  padding: none;
  padding-bottom: 1em;
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

p {
  margin: 1em;
}

a {
  color: black;
}
a:visited {
  color: black;
}

main {
  padding: 1em;
  max-width: 800px;
  border-radius: 0 1em 1em 0;
}

/*# sourceMappingURL=main.css.map */
