<svg id="mainSVG" class="prevent_select" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2016 1512" style="transform:scale(1.2); border:black 2px solid; border-radius:1em;">

  <defs>
    <style>
      .screenNote {
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.5s ease;

      }
      .screenNote.playing {
        opacity: 1;
        transition: opacity 0.01s ease;
      }
    </style>
  </defs>


  <g id="Layer_1_Image" data-name="Layer 1 Image" style='filter: url("#saturate")'>
    <filter id="saturate" filterUnits="objectBoundingBox">
        <feColorMatrix type="saturate" in="SourceGraphic" values="0.2"/>
        </filter>
    <image id="Layer_1_Image-2" data-name="Layer 1 Image" width="2016" height="1512" xlink:href="copper1.png"/>
  </g>
  <g id="note_6_Image" data-name="note_6 Image">
    <image id="note_5_image" class="screenNote_image" data-name="note_6 Image" width="37" height="861" transform="translate(1545 307)" xlink:href="copper2.png"/>
    <rect id="note_5" class="screenNote" data-name="note_6 Image" width="37" height="861" transform="translate(1545 307)" style="fill:rgba(255,0,0,0.5);"/>
  </g>
  <g id="note_5_Image" data-name="note_5 Image">
    <image id="note_4_image" class="screenNote_image" data-name="note_5 Image" width="36" height="848" transform="translate(1327 314)" xlink:href="copper3.png"/>
    <rect id="note_4" class="screenNote" data-name="note_5 Image" width="36" height="848" transform="translate(1327 314)" style="fill:rgba(255,0,0,0.5);"/>
  </g>
  <g id="note_4_Image" data-name="note_4 Image">
    <image id="note_3_image" class="screenNote_image" data-name="note_4 Image" width="34" height="844" transform="translate(1131 318)" xlink:href="copper4.png"/>
    <rect id="note_3" class="screenNote" data-name="note_4 Image" width="34" height="844" transform="translate(1131 318)" style="fill:rgba(255,0,0,0.5);"/>
  </g>
  <g id="note_3_Image" data-name="note_3 Image">
    <image id="note_2_image" class="screenNote_image" data-name="note_3 Image" width="40" height="858" transform="translate(939 307)" xlink:href="copper5.png"/>
    <rect id="note_2" class="screenNote" data-name="note_3 Image" width="40" height="858" transform="translate(939 307)" style="fill:rgba(255,0,0,0.5);"/>
  </g>
  <g id="note_1_Image" data-name="note_1 Image">
    <image id="note_1_image" class="screenNote_image" data-name="note_1 Image" width="33" height="857" transform="translate(736 310)" xlink:href="copper6.png"/>
    <rect id="note_1" class="screenNote" data-name="note_1 Image" width="33" height="857" transform="translate(736 310)" style="fill:rgba(255,0,0,0.5);"/>
  </g>
  <g id="note_0_Image" data-name="note_0 Image">
    <image id="note_0_image" class="screenNote_image" data-name="note_0 Image" width="35" height="857" transform="translate(493 312)" xlink:href="copper7.png"/>
    <rect id="note_0" class="screenNote" data-name="note_0 Image" width="35" height="857" transform="translate(493 312)" style="fill:rgba(255,0,0,0.5);"/>
  </g>
</svg>
