meta(charset="UTF-8")
meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, width=device-width")
link(rel="stylesheet" href="style.css")
script(src="./main.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.js")