doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: chord player

    script(src='./chord-player/setup.js' defer)
    script(src='./chord-player/keyboard.js' defer)
    script(src='./chord-player/demo.js' defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js' type='text/javascript') 
    link(rel='./chord-player/chord-player.css' type='text/css')
      
  body(onload='SoundIdeas.loader();assign();')
    main
      #audio_message.audio_message(aria-hidden='true')
      #instrument
        #instrument__underlay
        include chord-player_svg-test
      #chord-selection
        include instrument_setup
      include chord-player_script