doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: chord player

    script(src='./chord-player/setup.js' defer)
    script(src='./chord-player/keyboard.js' defer)
    script(src='./chord-player/demo.js' defer)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js' type='text/javascript') 

    style.
      #instrument__chord-player{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        width:100%;
        height:100%;
      }

      .chord-selection__button{
        display: block;
        //- width: 50px;
        //- height: 50px;
        position:absolute;
        font-size: 2rem;
        border: 1px solid #000;
        margin:0;
        cursor: pointer;
        text-align: center;
        transition:background-color 0.1s ease, color 0.1s ease;
        color:lightgoldenrodyellow;
        background-color:black;
      }

      .chord_selected {   
          background-color:lightgoldenrodyellow;
          color:black;
      }
  body(onload='SoundIdeas.loader();assign();')
 
    
    main
      #instrument
        #instrument__underlay
        include chord-player_svg-test
      #chord-selection(style="width:100%; height:100%; display: block; margin:0; padding:0; position:absolute;")
        include instrument_setup
      script.
        document.querySelector('#instrument__chord-player').addEventListener('touchstart',(e)=>{
          e.preventDefault();
        })
        document.querySelector('#instrument__chord-player').addEventListener('touchmove',(e)=>{
          e.preventDefault();
        })
        let buttonNotes = ['C','F','G','Am'];
        document.querySelector('#instrument__chord-player').querySelectorAll('.button').forEach((x,i)=>{
          
          let button = document.createElement('button');
          button.classList.add('chord-selection__button');
          button.innerHTML = buttonNotes[i];
          button.setAttribute('id',x.id);
          let rect = x.getBoundingClientRect();
          button.style.left = rect.left + 'px';
          button.style.top = rect.top + 'px';
          button.style.width = rect.width + 'px';
          button.style.height = rect.height + 'px';
          button.style.display='block';
          button.style.position='absolute';
          document.querySelector('#chord-selection').appendChild(button);
          button.addEventListener('click',()=>{
            console.log('click');
          })
        })

        window.onresize = () => {
          document.querySelector('#instrument__chord-player').querySelectorAll('.button').forEach(x=>{
            
            let button = document.querySelector('#chord-selection').querySelector('#'+x.id);
            let rect = x.getBoundingClientRect();
            button.style.left = rect.left + 'px';
            button.style.top = rect.top + 'px';
            button.style.width = rect.width + 'px';
            button.style.height = rect.height + 'px';
          })
        }
        window.onresize();
        //- instrument.initChordElement();

    //- footer
    //-   include footer
  


