doctype html
html(lang='en')

  head
    include head.pug
    title Sound Ideas: chord player
  body(onload='SoundIdeas.loader();')
    
    header
      include header
    
    main
      h2.instrument__title Chord Player
        
    footer
      include footer
      