doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: note player
  body(onload='SoundIdeas.loader();')
    
    header
      include header
    
    main
      h2.instrument__title Note Player (embedded version)
      
      section#note-player.instrument__embed__container
        iframe.embedded(src="note-player/copper.html?embed" allow="fullscreen")
      section.left

        p Embedded instruments are still in development for mobile devices. In case of problems accessing the instrument above, please use this link: 
          a.link(href="note-player/copper.html") note player
        p See this instrument embedded in a WordPress page: 
          a.link(href="https://blurringtheboundaries.org/copper/") Copper demo on the BtB blog
        
    footer
      include footer