doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: chord player
  body(onload='SoundIdeas.loader();')
    
    header
      include header
    
    main
      h2.instrument__title Chord Player (embedded version)
      
      section#chord-player.instrument__embed__container
        iframe.embedded(src="chord-player.html?embed" allow="fullscreen")
        p Embedded instruments are still in development for mobile devices. In case of problems accessing the instrument above, please use this link: 
          a.link(href="chord-player.html") chord player

    footer
      include footer
      