doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: chord player
  body(onload='SoundIdeas.loader();')
    
    header
      include header
    
    main
      h2.instrument__title Note Player (embedded version)
      // todo: add script from the wordpress demo to allow keyboard access through
      section#note-player.instrument__embed__container
        iframe(src="note-player.html?embed" width="800px" height="600px" allow="fullscreen")
        
    footer
      include footer
      