head
    title Fader test page
    meta(charset="UTF-8")
    meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, width=device-width")
    link(rel="stylesheet" href="style.css")
    // tone
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js")
    script(src="./main.js")
        
body(onload='init()')
    #result
    #slider-container 

    svg#slider-bg(viewbox='0 0 1200 600' width='100%' height='100%' style='position:absolute; top:0px; left:0px;')
        defs
            include fader_gradient
            style.
                .svg-fader{
                    cursor:ns-resize;
                    stroke:rgba(200,200,200,0.5);
                    stroke-width:2;
                }
                .svg-fader--odd{
                    fill: url(#grad-0);
                }
                .svg-fader--even{   
                    fill: url(#grad-1);
                    opacity:0.1;
                }
                .svg-fader__track{
                    fill:black;
                    stroke:rgba(0,0,0,0.2);
                    stroke-width:20;
                }
                .svg-thumb{
                    fill:rgba(255,255,255,1);
                    stroke:rgba(0,0,0,0.5);
                    stroke-width:3;
                    transition:y 0s ease;
                }

        include fader_faders.pug
    canvas#cover.touch_pickup_ignore.prevent-select

include slider_gen_script
include slider_script_vibration
