#partners(title='Project Partners')
  .partner
    a(href='https://www.accessarts.ca/')
      img(src='logos/NaAC_logo.png' alt='National access Arts Centre')
  .partner
    a(href='https://www.blurringtheboundaries.org/')
      img(src='logos/btba-logo-high-contrast_white.svg' alt='Blurring the Boundaries Arts')
  .partner
    a(href='https://canadacouncil.ca/')
      img(src='logos/CCA_RGB_white_f.png' alt='Canada Council for the Arts')