doctype html
html(lang='en')
    head
        include head
        title Embedded
        script.
            function back(){
                if (!history.back()){console.log('alternative')}
            }
    body(onload='SoundIdeas.loader()')
        header
            include header
        main
            h2 This instrument has been opened in another window.
            section 
                p Use this button to return to the instrument:
                div(style='width:100%; display: inline-block; text-align: center;')
                    button(onclick='back();') GO BACK