.qr.blurred(role="link" title="gallery")
  a
    img.icon(src="icons/noun-gallery-1407765.svg" aria-hidden="true")
    #svg_gallery
    img.logo(src="icons/noun-gallery-1407765.svg" aria-hidden="true")
    img.thumbnail.active(src="icons/btb-square2.svg" alt='Blurring the Boundaries logo: a stylised bass clef')
    .text#gallery__caption Gallery