doctype html
html(lang='en')

  head
    include head.pug
    title Sound Ideas demo site
  body(onload='SoundIdeas.loader()')
    
    header
      include header
    
    main
      h2 Instrument gallery
      section#codes
        // note: include verbosity checkbox to turn on alt text for icons
      
        .qr.blurred(aria-hidden="true" role="link" title="note player")
          a
            img.icon(src="icons/noun-bars-2764469.svg" aria-hidden="true")
            #svg_note-player
            img.logo(src="icons/noun-bars-2764469.svg" aria-hidden="true")
            img.thumbnail.active(src="icons/icon-note-player.svg" alt='image of a set of buttons labelled with note names')
            .text#note-player__caption Note Player
        .qr.blurred(aria-hidden="true" role="link" title="chord player")
          a
            #svg_chord-player
            img.logo(src="icons/noun-b-chord-5525419.svg" aria-hidden="true")
            img.thumbnail.active(src="icons/icon-chord-player.svg" alt='image of a set of buttons labelled with chord names alongside colourful strings')
            .text#chord-player__caption Chord Player
    
    footer
      include footer
      
