doctype html
html(lang='en')

  head
    include head.pug
    title Sound Ideas demo site
  body(onload='SoundIdeas.loader()')
    
    header
      include header
    
    main
      h2 Instrument gallery
      section#codes    
        .qr.blurred
          a
            #svg_note-player
            img.logo(src="icons/noun-bars-2764469.svg")
            img.thumbnail.active(src="icons/noun-bars-2764469.svg")
            .text Note Player
        .qr.blurred
          a
            #svg_chord-player
            img.logo(src="icons/noun-b-chord-5525419.svg")
            img.thumbnail.active(src="icons/noun-b-chord-5525419.svg")
            .text Chord Player
    
    footer
      include footer
      
