doctype html
html(lang='en')
  head
    include head.pug
    title Sound Ideas demo site
  body(onload='SoundIdeas.loader()')
    header
      include sound-ideas-logo-speaker.svg
      #misc
        #options 
            label(for="options" style="opacity:0;") Display
            select#options__icon-type
                option Icons
                option QR Codes
    main
      section#codes    
        .qr.blurred
          a
              #svg_note-player
              img.logo(src="icons/noun-bars-2764469.svg")
              img.thumbnail.active(src="icons/noun-bars-2764469.svg")
              .text Note Player
    footer
      
