a(href='https://blurringtheboundaries.github.io/sound-ideas/')
    include sound-ideas-logo-speaker.svg
#misc
  #options 
      label(for="options__icon-type" style="opacity:0;") Select visual style for gallery: 
      select#options__icon-type(title="Select visual style for gallery")
          option Icons
          option QR Codes
          // option Thumbnails
