//- h1 SOUND<br> IDEAS.
include sound-ideas-logo-speaker.svg
#misc
  #options 
      label(for="options" style="opacity:0;") Display
      select#options__icon-type
          option Icons
          option QR Codes