doctype html
html(lang='en')
  head
    include head.pug
    title Sound Ideas demo site
  body(onload='SoundIdeas.loader()')
    header
      include header
    main
      h2 Welcome to our demo site
      section
        p
          | This website will host a collection of open source instruments developed by 
          a.link(href='https://www.blurringtheboundaries.org/') Blurring the Boundaries Arts
          |  in collaboration with the 
          a.link(href='https://accessarts.ca/') National accessArts Centre
          | .
        p
          | This is currently a holding page while we pull together our content from various locations on GitHub. 
        p For the time being, while you are exploring the website, please use your browser's back button to return to this page.

      h2 Accessibility 
      section
        p At present, all of the pages on this website have passed Google's Lighthouse checker, and have also been tested with VoiceOver for screen reader access. They should work with other platforms.
        p All pages should work equally well with a keyboard, mobile touchscreen, or mouse.
        p These pages are currently text-heavy and will eventually be supplemented with images and other media.  To increase font size, please use your browser's zoom function.  We are looking into a high contrast option for the site.  
        p
          | Please contact us if you identify any access barriers to this website.  If possible, the best way to do this is by posting an issue on our GitHub repository: 
          a.link(href='https://github.com/blurringtheboundaries/sound-ideas/issues') Sound Ideas Issues
        //- p If you are not familiar with GitHub, you can also email us at [address tbc]

      h2 Links
      section
        ul
          li
            |  
            a.link(href='gallery.html') Gallery page (work in progress)
            | : Try some early prototypes of the instruments, with QR codes for easier workshop access
            i (please note: instruments are currently disabled or unreliable as I am updating the embedded versions -- CM).
          li
            |  
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas') Project GitHub repository
            | : View the source code for this website.
          li
            | 
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas/wiki') Project wiki
            | : Some development notes are available here.
    footer
      include footer