doctype html
html(lang='en')
  head
    include head.pug
    title Sound Ideas demo site
  body(onload='SoundIdeas.loader()')
    header
      //- h1 SOUND<br> IDEAS.
      include sound_ideas_logo.svg
      #misc
        #options 
            label(for="options" style="opacity:0;") Display
            select#options__icon-type
                option Icons
                option QR Codes
    main
      h2 About this website
      section
        p
          | This website will host a collection of open source instruments developed by 
          a.link(href='https://www.blurringtheboundaries.org/') Blurring the Boundaries Arts
          |  in collaboration with the 
          a.link(href='https://accessarts.ca/') National accessArts Centre
          | .
        p
          | This is currently a holding page while we pull together our content from various locations on GitHub. 

        p
          b If you're looking for the test page with the QR codes and instrument examples, they'll be back up here soon.
      h2 Links
      section
        ul
          li
            | View the source code for this website on the 
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas') project GitHub repository
            | .
          li
            | Some development notes are available on the 
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas/wiki') project wiki
            | .
    footer
      #partners(title='Project Partners')
        .partner
          a(href='https://www.accessarts.ca/')
            img(src='logos/NaAC_logo.png' alt='National access Arts Centre')
        .partner
          a(href='https://www.blurringtheboundaries.org/')
            img(src='logos/btba-logo-high-contrast_white.svg' alt='Blurring the Boundaries Arts')
        .partner
          a(href='https://canadacouncil.ca/')
            img(src='logos/CCA_RGB_white_f.png' alt='Canada Council for the Arts')
    
    script.
      //- window.onresize=(e=>{
      //-   document.querySelector('#banner__logo').style.left = document.querySelector('.partner img').getBoundingClientRect().left + 'px'
      //- })
