doctype html
html(lang='en')
  head
    include head.pug
    title Sound Ideas demo site
  body(onload='SoundIdeas.loader()')
    header
      include header
    main
      h2 About this website
      section
        p
          | This website will host a collection of open source instruments developed by 
          a.link(href='https://www.blurringtheboundaries.org/') Blurring the Boundaries Arts
          |  in collaboration with the 
          a.link(href='https://accessarts.ca/') National accessArts Centre
          | .
        p
          | This is currently a holding page while we pull together our content from various locations on GitHub. 

      h2 Links
      section
        ul
          li
            |  
            a.link(href='gallery.html') Gallery page (work in progress)
            | : Try some early prototypes of the instruments, with QR codes for easier workshop access.
          li
            |  
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas') Project GitHub repository
            | : View the source code for this website.
          li
            | 
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas/wiki') Project wiki
            | : Some development notes are available here.
    footer
      include footer