doctype html
html(lang='en')
  head
    include head.pug
    title Sound Ideas instrument gallery
  body(onload='SoundIdeas.loader()')
    header
      include header
    main
      h2 Welcome to our demo site
      section
        p
          | This website hosts a collection of open source instruments designed to be played with touch, keyboard, and MIDI.  
        p They were developed through a collaboration between 
          a.link(href='https://www.blurringtheboundaries.org/') BtB Arts
          |  and 
          a.link(href='https://accessarts.ca/') NaAC
          | .
        p While exploring the website, please use your browser's back button to return to the previous page.
      h2 Try the instruments
      section
        //- p Instructions coming soon...
        ul
          li
            a.link(href='gallery.html') Gallery page
            | : Try some early prototypes of the instruments.
      include gallery_thumbnail
      h2 Learn about the development
      section
        ul
          li
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas') GitHub repo
            | : View the source code for this website.
          li
            | 
            a.link(href='https://github.com/blurringtheboundaries/sound-ideas/wiki') Project wiki
            | : Some development notes and plans for the future are available here.

      //- h2 Accessibility 
      //- section
      //-   p Please note: there are no instructions available for any instruments at this stage of development!
      //-   p At present, all of the pages on this website have passed Google's Lighthouse checker, and have also been tested with VoiceOver for screen reader access.
      //-   p All pages should work equally well with a keyboard, mobile touchscreen, or mouse.

      h2 Reporting issues
      section
        p
          | Please contact us if you encounter any bugs and/or access barriers on this website. 
        p The best way to do this is by posting an issue on GitHub: 
          a.link(href='https://github.com/blurringtheboundaries/sound-ideas/issues') Sound Ideas Issues  
          |  (video: 
          a.link(href='https://www.youtube.com/watch?v=YaPh7wWVr2k') How to report bugs in GitHub
          | ).

    footer
      include footer