doctype html
html(lang='en')

  head
    include head
    script(src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.77/Tone.js")
    title Sound Ideas: note player
  body(onload='SoundIdeas.loader()')
    include instrument_setup
    header
      include header
    
    main
      h2.instrument__title Note Player
        
    footer
      include footer
    script.
      Tone.start().then(()=>{console.log('started')})
      let synth = new Tone.PolySynth().toDestination();
      
      
