doctype html
html(lang='en')

  head
    include head.pug
    title Sound Ideas: note player
  body(onload='SoundIdeas.loader()')
    
    header
      include header
    
    main
      h2 Note Player
        
    
    footer
      include footer
      
