doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: note player
  body(onload='SoundIdeas.loader()')
    include instrument_setup
    header
      include header
    
    main
      h2.instrument__title Note Player
        
    footer
      include footer
    script.
      Tone.start().then(()=>{console.log('started')})
      
