script.

    let generator;
    
    const generateQRCodeFromApi = (url, id, color) => {
        let qrCode = document.createElement('img');
        let qrCodeUrl = 'https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=' + url;
        qrCode.setAttribute('src', qrCodeUrl);
        qrCode.setAttribute('alt', url);
        qrCode.setAttribute('class', 'id__qr__png');
        return qrCode;
    }

    const setupLoad = () =>{
        generator = {
            uniqueId:SoundIdeas.generateRandomId(),
            url:'https://blurringtheboundaries.github.io/sound-ideas/note-player/copper.html?',
            embed:true,
            value:'',
            qrCode:'',
            settings:{
                root:'C',
                scale:'major',
                octave:'4',
                preset:'plink', 
                toolbar:false
            },
            update(){
                let paramString = '';
                
                for(let key in this.settings){
                    paramString += key + '=' + this.settings[key] + '&';
                }
                
                this.value = this.url + 'id=' + this.uniqueId + '&' + paramString;
                
                if(this.value[this.value.length-1] === '&'){
                    this.value = this.value.slice(0,-1);
                };
                
                document.querySelector('#generate__id__url').value = this.value;
                document.querySelector('#generate__id__url').setAttribute('size',this.value.length);
                document.querySelector('#generate__id__qr').innerHTML = '';
                let newQR = generateQRCodeFromApi(this.value, 'qr', 'white');
                document.querySelector('#generate__id__qr').appendChild(newQR);
                console.log(this.value);
                document.querySelector('iframe').setAttribute('src',this.value);
                
            }
        };
        
         document.querySelector('#generate__id__copy').addEventListener('click',(e)=>{
            document.querySelector('#generate__id__url').select();
            document.execCommand('copy');
          e.target.value = 'Copied to clipboard';
        });
        
        document.querySelector('#select_root').addEventListener('change',(e)=>{
            generator.settings.root = e.target.value;
            generator.update();
        });
        
        document.querySelector('#select_scale').addEventListener('change',(e)=>{
            generator.settings.scale = e.target.value;
            generator.update();
        });
        
        document.querySelector('#select_octave').addEventListener('change',(e)=>{
            generator.settings.octave = e.target.value;
            generator.update();
        });
        
        document.querySelector('#select_preset').addEventListener('change',(e)=>{
            generator.settings.preset = e.target.value;
            generator.update();
        });
        
        document.querySelector('#display_toolbar').addEventListener('change',(e)=>{
            generator.settings.toolbar = e.target.checked;
            generator.update();
        });
        

        SoundIdeas.scaleHandler
            .populate_select_root()
            .populate_select_scale()
            .populate_select_octave();
            
        generator.update();
        
    }
    //- uniqueId = SoundIdeas.generateRandomId();