doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: custom instrument
    include setup_id      
    
     
  body(onload='SoundIdeas.loader(); setupLoad();')
    
    header
      include header
    
    main
      h2.instrument__title Custom Instrument 
      section
        p This page generates an instrument with a unique link to share with others.
      section#instrument__custom
        ul
          li midi
          li scale 
          li octave
          li preset
      section#generate__id
        input#generate__id__url.allowDefault(type="text")
        //- button#generate__id__button Generate
        button#generate__id__copy copy
        #generate__id__qr
      
      section#note-player.instrument__embed__container
        
        iframe.embedded(src="note-player/copper.html?embed" allow="fullscreen")
        //- p Embedded instruments are still in development for mobile devices. In case of problems accessing the instrument above, please use this link: 
        //-   a(href="note-player/copper.html") note player

    footer
      include footer
    