doctype html
html(lang='en')

  head
    include head
    title Sound Ideas: custom instrument
    include setup_id      
    style.
      #generate__id__qr{
        width: 100px;
        height:100px;
        border:1px solid black;
      }
      .qr__svg{
        width: 100%;
        height: 100%;
      }
      .id__qr__png{
        width: 100%;
        height: 100%;
        display:inline-block;
      }
      #addresses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      #toolbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
      }
     
  body(onload='SoundIdeas.loader(); setupLoad();')
    
    header
      include header
    
    main
      h2.instrument__title Custom Instrument 
      section
        p This page generates an instrument with a unique link to share with others.  This is intended as a replacement for preset panels in situations where an artist might wish to focus entirely on the instrument itself, or to generate an instrument to accompany a specific piece.
        p Although the instrument can be previewed within the page below, it is recommended to use the generated link or QR code to play for any extended period of time.
      section#instrument__custom
        menu#toolbar.allowDefault(role='toolbar')
          li.toolbar__item(style='display:none;')
              label(for='select_instrument') Page 
              select#select_instrument
                  option#index index
                  option#svg svg 
                  option#copper copper 
          li.toolbar__item(style='display:none;')
              label(for='select_root') Root 
              select#select_root
          li.toolbar__item
              label(for='select_scale') Scale 
              select#select_scale
          li.toolbar__item
              label(for='select_octave') Octave 
              select#select_octave
          li.toolbar__item
              label(for='select_preset') Preset 
              select#select_preset
                option plink 
                option soft 
                option plunk
          li.toolbar__item
              label(for='display_toolbar') Display toolbar
              input#display_toolbar(type='checkbox')
      section#addresses
        #generate__id
          h3 Instrument address
          p Copy this address or save the QR code on the right to share your instrument with others.
          #generate__id__container(style="margin:0 auto; display:flex; flex-direction:column; align-items:center; justify-content:center;")
            textarea(style="width:80%;")#generate__id__url.allowDefault
            button(style="width:80%;")#generate__id__copy copy
        #generate__id__qr__container(style="min-width:150px; min-height:150px;")
          #generate__id__qr(style="min-width:150px;min-height:150px;")
      section#note-player.instrument__embed__container        
        iframe.embedded(src="note-player/copper.html?embed" allow="fullscreen")


    footer
      include footer
    