rect.svg-fader__track(x='47' y='0' width='4' height='600')
rect#fader_0.svg-fader.svg-fader--even(x='0' y='0' width='100' height='600')
rect.svg-fader__track(x='147' y='0' width='4' height='600')
rect#fader_1.svg-fader.svg-fader--odd(x='100' y='0' width='100' height='600')
rect.svg-fader__track(x='247' y='0' width='4' height='600')
rect#fader_2.svg-fader.svg-fader--even(x='200' y='0' width='100' height='600')
rect.svg-fader__track(x='347' y='0' width='4' height='600')
rect#fader_3.svg-fader.svg-fader--odd(x='300' y='0' width='100' height='600')
rect.svg-fader__track(x='447' y='0' width='4' height='600')
rect#fader_4.svg-fader.svg-fader--even(x='400' y='0' width='100' height='600')
rect.svg-fader__track(x='547' y='0' width='4' height='600')
rect#fader_5.svg-fader.svg-fader--odd(x='500' y='0' width='100' height='600')
rect.svg-fader__track(x='647' y='0' width='4' height='600')
rect#fader_6.svg-fader.svg-fader--even(x='600' y='0' width='100' height='600')
rect.svg-fader__track(x='747' y='0' width='4' height='600')
rect#fader_7.svg-fader.svg-fader--odd(x='700' y='0' width='100' height='600')
rect.svg-fader__track(x='847' y='0' width='4' height='600')
rect#fader_8.svg-fader.svg-fader--even(x='800' y='0' width='100' height='600')
rect.svg-fader__track(x='947' y='0' width='4' height='600')
rect#fader_9.svg-fader.svg-fader--odd(x='900' y='0' width='100' height='600')
rect.svg-fader__track(x='1047' y='0' width='4' height='600')
rect#fader_10.svg-fader.svg-fader--even(x='1000' y='0' width='100' height='600')
rect.svg-fader__track(x='1147' y='0' width='4' height='600')
rect#fader_11.svg-fader.svg-fader--odd(x='1100' y='0' width='100' height='600')

rect#thumb_0.svg-thumb(x='4' y='0' height='50' width='92')
rect#thumb_1.svg-thumb(x='104' y='0' height='50' width='92')
rect#thumb_2.svg-thumb(x='204' y='0' height='50' width='92')
rect#thumb_3.svg-thumb(x='304' y='0' height='50' width='92')
rect#thumb_4.svg-thumb(x='404' y='0' height='50' width='92')
rect#thumb_5.svg-thumb(x='504' y='0' height='50' width='92')
rect#thumb_6.svg-thumb(x='604' y='0' height='50' width='92')
rect#thumb_7.svg-thumb(x='704' y='0' height='50' width='92')
rect#thumb_8.svg-thumb(x='804' y='0' height='50' width='92')
rect#thumb_9.svg-thumb(x='904' y='0' height='50' width='92')
rect#thumb_10.svg-thumb(x='1004' y='0' height='50' width='92')
rect#thumb_11.svg-thumb(x='1104' y='0' height='50' width='92')

text#thumb_0_text(x='14', y='-24') 1
text#thumb_1_text(x='114', y='-24') 2
text#thumb_2_text(x='214', y='-24') 3
text#thumb_3_text(x='314', y='-24') 4
text#thumb_4_text(x='414', y='-24') 5
text#thumb_5_text(x='514', y='-24') 6
text#thumb_6_text(x='614', y='-24') 7
text#thumb_7_text(x='714', y='-24') 8
text#thumb_8_text(x='814', y='-24') 9
text#thumb_9_text(x='914', y='-24') 10
text#thumb_10_text(x='1014', y='-24') 11
text#thumb_11_text(x='1114', y='-24') 12