.instrument__embed__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instrument__title{
    &.embed{
        display:none;
        position:absolute;
        margin:0;
        top:0;
        left:0;
        width:100vw;
    }
    
}

body.embed{
    touch-action:none;
}